<h1> Post </h1>
<%= form_with model: @post do |form| %>
<%= form.hidden_field "place_id" %>
<%= form.label "Posted On" %>
<%= form.text_field "posted_on" %>
<%= form.label "Title" %>
<%= form.text_field "title" %>
<%= form.label "Description" %>
<%= form.text_field "description" %>
<%= form.submit %>
<% end %>